<header>
  <nav>
    <a aria-label="home" href="{{ "/" | relative_url }}"><h3>James Klassen</h3></a>
    <ul>
      {% for node in site.pages %} {% if node.title %}
      <li>
        <a aria-label="{{ node.title }}" href="{{ node.url | prepend: node.baseurl }}" {% if page.url == node.url %}class="active"{% endif %}>
          {{ node.title }}
        </a>
      </li>
      {% endif %} {% endfor %}
    </ul>
    <ul class="social">
      <li><a aria-label="Mail" href="{{ site.email_link }}">{% include social-icons/mail.svg %}</a></li>
      <li><a aria-label="Github" href="https://github.com/{{ site.github_username }}">{% include social-icons/github.svg %}</a></li>
      <li><a aria-label="Linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username}}">{% include social-icons/linkedin.svg %}</a></li>
    </ul>
  </nav>
</header>

