html {
  background: var(--bg);
  font-size: 20px;
  min-height: 100%;

}

body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.d2l {
  background-color: rgba($d2l, 0.2);
}

.shopify {
  background-color: rgba($shopify, 0.2);
}

.bold {
  background-color: rgba($bold, 0.2);
}

.flex-container {
  background-color: var(--bg);
  color: var(--fg);
  flex: 0 1 760px;
  margin: 0.6rem 0.3rem;
  border: 2px solid var(--fg);
  box-shadow: 2px 2px 0 var(--fg);
}

main {
  position: relative;
  padding: 0 var(--padding);

  p, ul {
    font-size: var(--font-size-body);
  }
}

img {
  border: 1px solid var(--fg);
  display: block;
  width: 100%;
}
